body {
    background-color: #fff;
    font-family: 'Raleway' !important;
}

/* Menú flotante */
.left-content {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    top: 30px;
    left: 150px;
    z-index: 999999;
}
.left-content > div > img {
    width: 200px;
}
.button-collapse {
    position: fixed !important;
    background-color: #33373d !important;
    z-index: 55555 !important;
    top: 10px;
    left: 10px;
}
.side-nav {
    width: 165px !important;
}
/* -------------- */

/* Navbar de navegación */
.nav-wrapper {
    margin-top: -21px;
    width: 100%;
}

.nav-wrapper > ul {
    width: 100%;
}

.nav-wrapper > ul > li, .side-nav > ul > li {
    padding: 20px;
    background-color: #33373d;
    cursor: pointer;
    height: 50px;
    line-height: 10px;
}

.active {
    background-color: #2098D1;
}

.nav-wrapper > ul > li > a, .side-nav > ul > li > a {
    font-size: 13px;
    float: left;
    color: #ffffff;
}

.social {
    padding: 0px 10px;
    margin-top: -15px;
}
.social > ul {
    display: -webkit-inline-box;
    width: 100%;
    margin-left: 36px;
}

.social > ul > li {
    padding: 0px 10px;
}

.github, .linkedin, .google {
    color: #33373d;
}

.linkedin:hover {
    color: #007ab5;
}

.github:hover {
    color: black;
}

.google:hover {
    color: #e14c3a;
}

/* -------------- */

/*Div que contiene toda la información del CV*/

.right-content {
    padding-left: 300px;
}

.main-content {
    padding: 0px !important;
}

/** --------- */

/** Tecnologias */
.tbody > tr > td {
    padding: 0px !important;
}
.tbody > tr > td:first-child {
    width: 150px !important;
}
.progress {
    height: 5px !important;
    background-color: #ffffff !important;
    border-radius: 2px;
    border: 1px solid #2098d1;
}
.determinate {
    background-color: #2098d1 !important;
}
.title-technologies {
     margin-left: 10px;
     font-weight: 700;
     margin: 0px 0px 20px 10px;
}
/* ************ */

/* Portfolio */
.portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2098D1;
}
.title-portfolio {
    color: #ffffff;
    margin-bottom: 30px;
}
.img-card {
    border-bottom: 1px solid #e0e0e0;
}
/* ************ */

/** ------ CSS RESPONSIVE --------- */
@media(max-width: 1750px) {
    /** Timeline (educación) */
    .timeline ol,
    .timeline ol li {
        width: auto; 
    }
    
    .timeline ol {
        padding: 0;
        transform: none !important;
    }
    
    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }
    
    .timeline ol li:first-child {
        margin-top: 25px;
    }
    
    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }
    
    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }
    
    .timeline ol li div {
        position: static;
    }
    
    .timeline ol li:nth-child(odd) div {
        transform: none;
    }
    
    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }
    
    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }
    /** ------------------- */
}

@media(max-width:1200px) {
    .left-content {
        display: none;
    }
    .right-content {
        padding-left: 0px;
    }
    .info-personal {
        left: 4%;
    }
    /** Menú de redes sociales */
    .social {
        padding: 0px 10px;
        margin-top: 0px;
    }
    .social > ul {
        display: -webkit-inline-box;
        width: 100%;
        margin-left: 0px;
    }

    .social > ul > li {
        padding: 0px 0px;
        width: 40px;
    }
    .overlay {
        width: 240px !important;
    }
}

@media(max-width: 1000px) {
    .image-company {
        display: none;
    }
}

@media(min-width:1201px) {
    .slide-out, .button-collapse {
        display: none !important;
    }
}

/** Clases utiles utilizada para varios elementos */
.font-weight {
    font-weight: 700
}

.font-size {
    font-size: 13px;
}