@import "./_palette.scss";

.hover-to-right {
  -webkit-transition-property: color;
  vertical-align: middle;
  transition-property: color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transform: perspective(1px) translateZ(0);
}

.hover-to-right:before {
  content: "";
  background: $secondBgColor;
  position: absolute;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hover-to-right:hover,
.hover-to-right:focus,
.hover-to-right:active {
  color: #fff;
}

.hover-to-right:hover:before,
.hover-to-right:focus:before,
.hover-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}