$primaryColor: rgba(208, 2, 27, 1);
$primaryFontColor: rgba(14, 59, 67, 1);
$secondFontColor: rgba(240, 231, 216, 1);
$white: #fff;

$bgBlack: rgb(0, 0, 0);
$bgGray: rgba(162, 167, 158, 1);
$primaryBgColor: rgb(131, 3, 18);
$secondBgColor: rgba(228, 87, 46, 1);

$hoverLinkColor: #50C5E5;